# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target
# this is moved to vm/testdata, others are present locally
contracts/hackatom/contract.wasm
contracts/hackatom/hash.txt
packages/cached_contracts/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok
Cargo.lock

*.pyc
__pycache__/
compiled
logs
external_compiled

ui/nohup.out
