[workspace]
resolver = "2"
members = [
  "packages/*",
  "contracts/*",
]
exclude = [ 
  "contracts/mock_sienna_pair",
  "contracts/mock_shade_pair",
]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
