[workspace]
members = [
  "packages/shade_oracles",
  "packages/shade_oracles_ensemble",

  "contracts/index_oracle",
  "contracts/proxy_band_oracle",
  "contracts/oracle_router",
  "contracts/siennaswap_lp_oracle",
  "contracts/shade_staking_derivative_oracle",
  "contracts/siennaswap_lp_spot_oracle",
  "contracts/siennaswap_market_oracle",
  "contracts/shadeswap_market_oracle",

  "contracts/mock_sienna_pair",
  "contracts/mock_shade_pair",
]
exclude = [
  # This needs to be disabled otherwise cargo will try to compile it for wasm32 during build and fail.
  "packages/shade_oracles_integration",
]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
