[package]
name = "multi-test-helpers"
version = "0.1.0"
authors = [
   "hoomp"
]
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []

[dependencies]
strum = { workspace = true }
anyhow = { workspace = true }
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
shade-oracles = { path = "../shade_oracles" }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
shade-protocol = { workspace = true, features = [ "multi-test", "admin", "airdrop" ] }
multi-derive = { workspace = true }
shade-multi-test = { workspace = true, features = ["snip20", "query_auth", "admin", "airdrop" ]}

[dev-dependencies]
rstest = { workspace = true }
