[package]
name = "shade-oracles-multi-test"
version = "0.1.0"
authors = [
   "hoomp <flammable.shower939@anonaddy.me>"
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
multi-test = []

[dependencies]
shade-protocol = { git = "https://github.com/securesecrets/shade", branch = "cosmwasm_v1_upgrade", features = [ "multi-test" ] }
multi-derive = { git = "https://github.com/securesecrets/shade", branch = "cosmwasm_v1_upgrade" }

shade-admin-multi-test = { git = "https://github.com/securesecrets/shadeadmin.git", branch = "cosmwasm-v1-refactor" }
shade-admin = { git = "https://github.com/securesecrets/shadeadmin.git", branch = "cosmwasm-v1-refactor" }
shade-oracles = { path = "../shade_oracles" }

oracle-router = { path = "../../contracts/oracle_router" }
proxy-band-oracle = { path = "../../contracts/proxy_band_oracle" }
index-oracle = { path = "../../contracts/index_oracle", optional = true }

shade-staking-derivative-oracle = { path = "../../contracts/shade_staking_derivative_oracle", optional = true }

#shadeswap-market-oracle = { path = "../../contracts/shadeswap_market_oracle", optional = true }

siennaswap-lp-oracle = { path = "../../contracts/siennaswap_lp_oracle", optional = true }
siennaswap-lp-spot-oracle = { path = "../../contracts/siennaswap_lp_spot_oracle", optional = true }
#siennaswap-market-oracle = { path = "../../contracts/siennaswap_market_oracle", optional = true }

#snip20-reference-impl = { git = "https://github.com/scrtlabs/snip20-reference-impl.git", branch = "master" }

mock-band = { path = "../../contracts/mock_band" }
mock-sienna-pair = { path = "../../contracts/mock_sienna_pair" }
mock-shade-pair = { path = "../../contracts/mock_shade_pair" }