[package]
name = "shade-oracles-multi-test"
version = "0.1.0"
authors = [
   "hoomp <flammable.shower939@anonaddy.me>"
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
multi-test = []
snip20 = []
staking-derivative = ["dep:shade_staking_derivative_oracle"]
index_oracle = ["dep:index_oracle"]
market = ["dep:shadeswap_market_oracle", "dep:siennaswap_market_oracle"]
lp = ["dep:siennaswap_lp_oracle", "dep:siennaswap_lp_spot_oracle"]

[dependencies]
strum = { version = "0.24", features = ["derive"] }
shade-oracles = { path = "../shade_oracles" }
oracle_router = { path = "../../contracts/oracle_router" }

mock_band = { path = "../../contracts/mock_band" }
mock_sienna_pair = { path = "../../contracts/mock_sienna_pair" }
mock_shade_pair = { path = "../../contracts/mock_shade_pair" }

index_oracle = { path = "../../contracts/index_oracle", optional = true }

shade_staking_derivative_oracle = { path = "../../contracts/shade_staking_derivative_oracle", optional = true }

shadeswap_market_oracle = { path = "../../contracts/shadeswap_market_oracle", optional = true }
siennaswap_market_oracle = { path = "../../contracts/siennaswap_market_oracle", optional = true }

siennaswap_lp_oracle = { path = "../../contracts/siennaswap_lp_oracle", optional = true }
siennaswap_lp_spot_oracle = { path = "../../contracts/siennaswap_lp_spot_oracle", optional = true }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
shade-protocol = { git = "https://github.com/securesecrets/shade", branch = "update_secret", features = [ "multi-test" ] }
shade-multi-test = { git = "https://github.com/securesecrets/shade", branch = "update_secret", features = [ "snip20", "admin" ] }
multi-derive = { git = "https://github.com/securesecrets/shade", branch = "update_secret" }
