[package]
name = "shade-oracles-multi-test"
version = "0.1.0"
authors = [
   "hoomp <flammable.shower939@anonaddy.me>"
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
multi-test = []

[dependencies]
cosmwasm-std = { version = "1.0.0", package = "secret-cosmwasm-std" }
strum = { version = "0.24", features = ["derive"] }
shade-oracles = { path = "../shade_oracles" }
oracle_router = { path = "../../contracts/oracle_router" }

mock_band = { path = "../../contracts/mock_band" }
mock_ojo = { path = "../../contracts/mock_ojo" }

index_oracle = { path = "../../contracts/index_oracle" }

shade_staking_derivatives_oracle = { path = "../../contracts/shade_staking_derivatives_oracle" }
stride_staking_derivatives_oracle = { path = "../../contracts/stride_staking_derivatives_oracle" }

shadeswap_market_oracle = { path = "../../contracts/shadeswap_market_oracle" }
siennaswap_market_oracle = { path = "../../contracts/siennaswap_market_oracle" }

siennaswap_reserves_oracle = { path = "../../contracts/siennaswap_reserves_oracle" }
siennaswap_spot_oracle = { path = "../../contracts/siennaswap_spot_oracle" }
shadeswap_spot_oracle = { path = "../../contracts/shadeswap_spot_oracle" }

oracle_mocks = { path = "../mocks" }

[dev-dependencies]
rstest = "0.15.0"

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
multi-test-helpers = { path = "../multi_helpers" }
shade-protocol = { git = "https://github.com/securesecrets/shade", branch = "cosmwasm_v1_upgrade", default-features = false, features = [ "multi-test" ] }
shade-multi-test = { git = "https://github.com/securesecrets/shade", branch = "cosmwasm_v1_upgrade", features = [ "snip20", "admin" ] }
multi-derive = { git = "https://github.com/securesecrets/shade", branch = "cosmwasm_v1_upgrade" }