[package]
name = "shade-oracles-multi-test"
version = "0.1.0"
authors = [
   "hoomp"
]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
multi-test = []

[dependencies]
cosmwasm-std = { workspace = true }
strum = { workspace = true }
shade-oracles = { path = "../shade_oracles" }
oracle_router = { path = "../../contracts/oracle_router" }

mock_band = { path = "../../contracts/mock_band" }
mock_ojo = { path = "../../contracts/mock_ojo" }

index_oracle = { path = "../../contracts/index_oracle" }

shade_staking_derivatives_oracle = { path = "../../contracts/shade_staking_derivatives_oracle" }
stride_staking_derivatives_oracle = { path = "../../contracts/staking_derivatives/stride" }

shadeswap_market_oracle = { path = "../../contracts/shadeswap_market_oracle" }
siennaswap_market_oracle = { path = "../../contracts/siennaswap_market_oracle" }

siennaswap_reserves_oracle = { path = "../../contracts/siennaswap_reserves_oracle" }
siennaswap_spot_oracle = { path = "../../contracts/siennaswap_spot_oracle" }
shadeswap_spot_oracle = { path = "../../contracts/shadeswap_spot_oracle" }

oracle_mocks = { path = "../mocks" }

[dev-dependencies]
rstest = { workspace = true }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
multi-test-helpers = { path = "../multi_helpers" }
shade-protocol = { workspace = true, features = [ "multi-test" ] }
shade-multi-test = { workspace = true, features = [ "snip20", "admin" ] }
multi-derive = { workspace = true }