[package]
name = "oracle-router"
version = "0.1.0"
authors = ["sbeem <sbeem@pm.me>", "scrtreddev <scrtredev@protonmail.com", "hoomp <flammable.shower939@anonaddy.me>"]
edition = "2021"
exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
backtraces = ["shared-types/backtraces"]

[dependencies]
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
shared-types = { path = "../../packages/shared_types", features = ["backtraces"] }
shade-oracles = { path = "../../packages/shade_oracles" }
