[package]
name = "shade-oracles"
version = "1.0.0"
authors = [
  "sbeem <sbeem@pm.me>",
  "scrtreddev <scrtredev@protonmail.com",
  "hoomp <flammable.shower939@anonaddy.me>",
]
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
core = ["storage"]
storage = ["shade-protocol/storage_plus"]
proxy-band = ["core"]
index = ["core"]
router = ["core"]
derivatives = ["core"]
dex = ["core"]

[dependencies]
cosmwasm-std = { version = "1.0.0", package = "secret-cosmwasm-std" }
cosmwasm-storage = { version = "1.0.0", package = "secret-cosmwasm-storage" }
cosmwasm-schema = "1.1.5"
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = [
  "derive",
  "alloc",
] }
thiserror = "1.0"

paste = "1.0"
derive-from-ext = "0.2"
ts-rs = "6.2"

btr-macros = { git = "https://github.com/securesecrets/better-secret-math" }
better-secret-math = { git = "https://github.com/securesecrets/better-secret-math" }
secret-storage-plus = { git = "https://github.com/securesecrets/secret-plus-utils" }

shade-protocol = { git = "https://github.com/securesecrets/shade", branch = "cosmwasm_v1_upgrade", features = ["utils", "interface", "snip20", "math", "admin"] }

[dev-dependencies]
rstest = "0.15.0"
