name: Main Workflow

on:
  push:
    branches:
      - "develop"

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-C link-arg=-s"

jobs:
  find-contracts: # Job that list subdirectories
    runs-on: ubuntu-latest
    outputs:
      dir: ${{ steps.set-dirs.outputs.dir }}
    steps:
      - uses: actions/checkout@v2
      - id: set-dirs
        run: echo "::set-output name=dir::$(find ./contracts -name Cargo.toml | jq -R -s -c 'split("\n")[:-1]')"

  build-contracts:
    runs-on: ubuntu-latest
    needs: [find-contracts] # Depends on previous job
    strategy:
      matrix:
        dir: ${{fromJson(needs.find-contracts.outputs.dir)}} # List matrix strategy from directories dynamically
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "oracles"

      - uses: actions-rs/cargo@v1.0.3
        with:
          command: build
          args: --release --target wasm32-unknown-unknown --manifest-path=${{matrix.dir}}

  coverage:
    name: Collect test coverage
    runs-on: ubuntu-latest
    environment: main
    # nightly rust might break from time to time
    continue-on-error: true
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          components: llvm-tools-preview

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "oracles"

      - name: Install sccache
        run: if [ -e ~/.cargo/bin/sccache ] ; then echo "Sccache is already installed"; else cargo install sccache; fi

      - name: Install fleet
        run: if [ -e ~/.cargo/bin/fleet ] ; then echo "Fleet is already installed"; else cargo install fleet-rs; fi

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Collect coverage data
        run: fleet build --tests && cargo llvm-cov nextest --lcov --output-path lcov.info

      - name: Upload coverage data to codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
