name: Health Check

on:
  push:
    branches:
      - "**MULBERRY**"
      - release
      - develop

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-C link-arg=-s"

jobs:
  check-and-test:
    name: Check workspace and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          components: llvm-tools-preview

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "oracles"

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Run tests
        run: cargo nextest run
